<!DOCTYPE html>
<html>
<head>
    <title>패 입력</title>
</head>
<body>
    <h1>상대방 패 예측 프로그램</h1>
    <form action="/predict" method="post">
        <label for="input_data"> 나의 패 :</label><br>
        <input type="text" id="input_data1" name="input_data1" placeholder="첫번째 모양">
        <input type="text" id="input_data2" name="input_data2" placeholder="첫번째 숫자"><br>
        <input type="text" id="input_data3" name="input_data3" placeholder="두번째 모양">
        <input type="text" id="input_data4" name="input_data4" placeholder="두번째 숫자"><br>
        <input type="text" id="input_data5" name="input_data5" placeholder="세번째 모양">
        <input type="text" id="input_data6" name="input_data6" placeholder="세번째 숫자"><br>
        <input type="text" id="input_data7" name="input_data7" placeholder="네번째 모양">
        <input type="text" id="input_data8" name="input_data8" placeholder="네번째 숫자"><br>
        <input type="text" id="input_data9" name="input_data9" placeholder="다섯번째 모양">
        <input type="text" id="input_data10" name="input_data10" placeholder="다섯번째 숫자"><br>
        <input type="text" id="input_data11" name="input_data11" placeholder="여섯번째 모양">
        <input type="text" id="input_data12" name="input_data12" placeholder="여섯번째 숫자"><br>
        <input type="text" id="input_data13" name="input_data13" placeholder="일곱번째 모양">
        <input type="text" id="input_data14" name="input_data14" placeholder="일곱번째 숫자"><br>
        <label for="input_data"> B의 패 :</label><br>
        <input type="text" id="input_data15" name="input_data15" placeholder="두번째 모양">
        <input type="text" id="input_data16" name="input_data16" placeholder="두번째 숫자"><br>
        <input type="text" id="input_data17" name="input_data17" placeholder="세번째 모양">
        <input type="text" id="input_data18" name="input_data18" placeholder="세번째 숫자"><br>
        <input type="text" id="input_data19" name="input_data19" placeholder="네번째 모양">
        <input type="text" id="input_data20" name="input_data20" placeholder="네번째 숫자"><br>
        <input type="text" id="input_data21" name="input_data21" placeholder="다섯번째 모양">
        <input type="text" id="input_data22" name="input_data22" placeholder="다섯번째 숫자"><br>
        <label for="input_data"> C의 패 :</label><br>
        <input type="text" id="input_data23" name="input_data23" placeholder="두번째 모양">
        <input type="text" id="input_data24" name="input_data24" placeholder="두번째 숫자"><br>
        <input type="text" id="input_data25" name="input_data25" placeholder="세번째 모양">
        <input type="text" id="input_data26" name="input_data26" placeholder="세번째 숫자"><br>
        <input type="text" id="input_data27" name="input_data27" placeholder="네번째 모양">
        <input type="text" id="input_data28" name="input_data28" placeholder="네번째 숫자"><br>
        <input type="text" id="input_data29" name="input_data29" placeholder="다섯번째 모양">
        <input type="text" id="input_data30" name="input_data30" placeholder="다섯번째 숫자"><br>
        <label for="input_data"> D의 패 :</label><br>
        <input type="text" id="input_data31" name="input_data31" placeholder="두번째 모양">
        <input type="text" id="input_data32" name="input_data32" placeholder="두번째 숫자"><br>
        <input type="text" id="input_data33" name="input_data33" placeholder="세번째 모양">
        <input type="text" id="input_data34" name="input_data34" placeholder="세번째 숫자"><br>
        <input type="text" id="input_data35" name="input_data35" placeholder="네번째 모양">
        <input type="text" id="input_data36" name="input_data36" placeholder="네번째 숫자"><br>
        <input type="text" id="input_data37" name="input_data37" placeholder="다섯번째 모양">
        <input type="text" id="input_data38" name="input_data38" placeholder="다섯번째 숫자"><br>
        <label for="input_data"> E의 패 :</label><br>
        <input type="text" id="input_data39" name="input_data39" placeholder="두번째 모양">
        <input type="text" id="input_data40" name="input_data40" placeholder="두번째 숫자"><br>
        <input type="text" id="input_data41" name="input_data41" placeholder="세번째 모양">
        <input type="text" id="input_data42" name="input_data42" placeholder="세번째 숫자"><br>
        <input type="text" id="input_data43" name="input_data43" placeholder="네번째 모양">
        <input type="text" id="input_data44" name="input_data44" placeholder="네번째 숫자"><br>
        <input type="text" id="input_data45" name="input_data45" placeholder="다섯번째 모양">
        <input type="text" id="input_data46" name="input_data46" placeholder="다섯번째 숫자"><br>
        <label for="input_data"> F의 패 :</label><br>
        <input type="text" id="input_data47" name="input_data47" placeholder="두번째 모양">
        <input type="text" id="input_data48" name="input_data48" placeholder="두번째 숫자"><br>
        <input type="text" id="input_data49" name="input_data49" placeholder="세번째 모양">
        <input type="text" id="input_data50" name="input_data50" placeholder="세번째 숫자"><br>
        <input type="text" id="input_data51" name="input_data51" placeholder="네번째 모양">
        <input type="text" id="input_data52" name="input_data52" placeholder="네번째 숫자"><br>
        <input type="text" id="input_data53" name="input_data53" placeholder="다섯번째 모양">
        <input type="text" id="input_data54" name="input_data54" placeholder="다섯번째 숫자"><br>
        <label for="input_data"> G의 패 :</label><br>
        <input type="text" id="input_data55" name="input_data55" placeholder="두번째 모양">
        <input type="text" id="input_data56" name="input_data56" placeholder="두번째 숫자"><br>
        <input type="text" id="input_data57" name="input_data57" placeholder="세번째 모양">
        <input type="text" id="input_data58" name="input_data58" placeholder="세번째 숫자"><br>
        <input type="text" id="input_data59" name="input_data59" placeholder="네번째 모양">
        <input type="text" id="input_data60" name="input_data60" placeholder="네번째 숫자"><br>
        <input type="text" id="input_data61" name="input_data61" placeholder="다섯번째 모양">
        <input type="text" id="input_data62" name="input_data62" placeholder="다섯번째 숫자"><br><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>